.navbarContainer {
  width: 100%;
  min-height: var(--navbar-height);
  background: var(--linear);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  height: 100%;
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 35px;
  height: 35px;
}

.navbarContainer ul {
  display: inline-flex;
  gap: 20px;
  font-size: 12px;
  text-decoration: none; /* No underline by default */
  color: white;
  padding-bottom: 5px;
}

.navbarContainer ul li a:hover {
  border-bottom: 1px solid white; /* Underline effect for the active link */
}

.activeLink {
  border-bottom: 1px solid var(--accent-color); /* Underline effect for the active link */
}
